*{
    margin:0;
    padding:0;
}
/* Header */
.header-aventura{
    position:fixed;
    width:100%;
    height:5vw;
    background-image: linear-gradient(black ,rgba(0, 0, 0, 0));
    display:flex;
    align-items:center;
    padding:0.5vw;
    justify-content:flex-start;
    z-index:9999;
    padding-left:2vw;
}
.header-aventura a{
    transition: ease-in-out 0.5s;
}
.header-aventura a:hover{
    scale:1.1;
}
.header-aventura i, .header-aventura span{
    font-size:1.5vw;
    font-family:candara;
    font-weight:600;
}
/* fim header */
/* pacotes inicio */
.inicio-pacote{
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width:100%;
    height:50vw;
}
.inicio-pacote-items{
    width:100%;
    height:100%;
    background-image:linear-gradient(90deg, black, rgba(0,0,0,0));
    display:flex;
    align-items:center;
}
.inicio-pacote-elementos{
    display:flex;
    flex-direction: column;
    width:40%;
    margin-left:10vw;
    gap:1.5vw;
}
.inicio-pacote-titulo{
    font-size:3vw;
    margin-left:-0.5vw;
}
.inicio-pacote-text{
    font-size:1.3vw;
    color:#fff;
    font-family:candara;
    text-align: justify;
    font-weight:400;
}
/* fim pacotes inicio */

/* linhas transicao */
.transicao-cima{
    border:none;
    background-color:#000;
    box-shadow:0px -2px 30px 20px #000;
    position:relative;
    z-index:99;
    opacity: 1;
    border-radius:0;
    width:100%;
}
.transicao-baixo{
    border:none;
    background-color:var(--bg-color);
    background-color:#000;
    box-shadow:0px 2px 30px 20px #000;
    position:relative;
    z-index:99;
    opacity: 1;
    border-radius:0;
    width:100%;
}

/* pacote geral */
.pacotes{
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width:100%;
    height:55vw;
}
.pacotes-items{
    background-image:linear-gradient(black 5%, rgba(0, 0, 0, 0.87) 55%, rgba(0,0,0,0) 70%);
    height:75%;
    width:100%;
    display:flex;
    flex-direction: column;
    text-align:center;
}
.pacotes-elementos{
    display:flex;
    flex-direction: column;
    gap:1.5vw;
    width: 70%;
    margin-left:auto;
    margin-right: auto;
    margin-top:3vw;
}
.pacotes-titulo{
    font-size:2.5vw;
}
.pacotes-text{
    font-size:1.4vw;
    color:#fff;
    font-family:candara;
    font-weight:400;
}

.pacotes-catalogo{
    margin-top:8vw;
}
.pacotes-catalogo .pacotes-subtitulo{
    font-size:2vw;
    color:#fff;
    text-transform: none;
}

.catalogos-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:3vw;
}
.catalogos{
    width:16vw;
    height:20vw;
    background-color:#b1b1b1;
    border-radius:1rem;
    cursor:pointer;
}
/* fim pacotes geral */

/* pacotes navio elementos */
.inicio-pacote-mares{
    background-image:url(../img/imgpacotes/imgprincipalmares.jpg);
}

.pacotes-navio{
    background-image:url(../img/imgpacotes/imgnavios.png);
}
.pacotes-caiaque{
    background-image:url(../img/imgpacotes/imgcaiaque.jpg);
    background-position: center;
}
.pacotes-jetski{
    background-image:url(../img/imgpacotes/imgjetski.jpg);
}
/* fim pacotes navio elementos */

/* pacotes montanhas elementos */
.inicio-pacote-montanhas{
    background-image:url(../img/imgpacotes/imgprincipalmontanhas.jpg);
}

.pacotes-escalada{
    background-image:url(../img/imgpacotes/imgescalada.jpg);
}
.pacotes-trilha{
    background-image:url(../img/imgpacotes/imgtrilhas.jpg);
    background-position: bottom;
}
.pacotes-rapel{
    background-image:url(../img/imgpacotes/imgrapel.jpg);
    background-position: center;
}
/* fim pacotes montanhas elementos */

/* footer */
.footer-pacotes{
    background-color:#000;
    padding:0.5vw;
    font-size:1vw;
    position: relative;
    z-index:999;
}
/* fim footer */

/* Tela de venda em PX */
.fundoTelaVenda{
    position: fixed;
    z-index:99999;
    background-color:rgba(0,0,0,0.80);
    backdrop-filter:blur(5px);
    inset:0;
    display:none;
    align-items:center;
    justify-content:center;
}

.telaVenda{
    width:410px;
    height:560px;
    background-color:#030F2F;
    box-shadow:4px 4px 5px 7px;
    overflow-y:scroll;
}

.telaVenda-cabecario{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:13px;
    background-color:#002357;
}
.telaVenda-cabecario span{
    font-family:candara;
    font-weight: 600;
}
.telaVenda-cabecario i{
    cursor:pointer;
}
.telaVenda-cabecario i:hover{
    scale:1.1;
    color:#0066ff;
}
.telaVenda-cabecario span,
.telaVenda-cabecario i{
    font-size:20px;
    color:#fff;
}
.telaVenda-img{
    height:200px;
    padding:0vw 13px 0vw 13px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}
.telaVenda-img i{
    font-size:20px;
    cursor:pointer;
    color:#fff;
    background-color:#0066ffc0;
    border-radius:5em;
    padding:3px;
    transition: ease-in-out 0.2s;
}
.telaVenda-img i:hover{
    color:#0066ff;
    background-color:#ffffffc0;
}

#telaVenda-title{
    color:#103fbe;
    font-size:19px;
    font-family:candara;
    font-weight:800;
    text-align:center;
    margin:20px 0vw 20px 0vw;
    text-transform: uppercase;
}

.telaVenda-form{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:0vw 34px 20px 34px;
    margin-top:13.68px;
}
.telaVenda-form .venda-input label,
.telaVenda-form .venda-input span{
    color:#fff;
    font-family:candara;
    font-weight:600;
    font-size:15px;
}

.telaVenda-form .venda-input input{
    background-color: #030A1C;
    border:none;
    border-right:2px solid #103fbe;
    padding:6px;
    color:#fff;
    outline: none;
    font-size:13px;
}
.venda-input{
    display:flex;
    flex-direction: column;
    justify-content: left;
    gap:7px;
}

::-webkit-calendar-picker-indicator { /* Calendario que fica no input de data */
    filter: invert(1);
}

.venda-input .venda-radio-elementos label{
    color:#fff;
    font-family:candara;
    font-weight:300;
    font-size:14px;
}
.venda-input .venda-radio-elementos input{
    width:14px;
    height:14px;
}
.venda-radio-elementos{
    display:flex;
    justify-content: space-between;
}
.venda-radio-elementos div{
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap:3px;
}

.venda-botoes{
    display:flex;
    flex-direction: column;
    gap:14px;
    width:100%;
}
.venda-botoes button{
    height:27px;
    font-weight: 500;
    font-size:12px;
    border:none;
    cursor:pointer;
    transition: ease-in-out 0.2s;
}
.venda-botaoCompra{
    background-color:#103fbe;
    color:#fff;
}
.venda-botaoCompra:hover{
    background-color:#103ebe6c;
}

.venda-botaoReserva{
    background-color:#fff;
    color:#103fbe;
}
.venda-botaoReserva:hover{
    background-color:#ffffff96;
}

@media(max-width:900px){
    .telaVenda{
        scale:0.8;
    }
}
/* FIM Tela de venda */