@media(max-width: 900px){
    /* HEADER */
    #menumobile{
        display:flex;
    }

    .header-left nav{
        display:none;
    }

    header{
        position:static;
        background-color:#000;
        height:10vw;
        width:99%;
    }

    #logo{
        scale:1.9;
        margin-left:12vw
    }

    #toggletheme{
        font-size:3vw;
        margin-right:2vw;
    }
    /* FIM HEADER */
    /* INICIO */
    #imagemcapa{
        height:70vw;
        gap:5vw;
        background-position: center;
    }

    #inicio{
        width:90vw;
        margin-top:2vw;
    }

    .fonttitle{
        font-size:3.6vw;
    }

    #botaoprincipal{
        font-size:3.4vw;
        height:8vw;
        width:50vw;
        margin-top:6vw;
    }

    #botoespassarimg{
        display:flex;
        gap:5vw;
    }
    
    .passarimg{
        width:10vw;
        height:3vw;
    }

    .passarimg:hover{
        scale:120%;
    }
    /* FIM INICIO */
    /* PACOTES AVENTURA */
    h2{
        font-size:3.5vw;
    }

    .conjuntopacotes{
        height:40vw;
    }

    .nomepacotes{
        font-size:0vw;
    }

    .conjuntopacotes > div:hover .nomepacotes{
        font-size:3vw;
    }
    /* FIM PACOTES AVENTURA */
    /* SOBRE */
    .assuntosobre{
        flex-direction:column;
        padding:4vw;
        margin-top:5vw;
    }

    .imgsobre{
        width:60vw;
    }

    .tituloetexto{
        width:70vw;
    }

    .titulosobre{
        font-size:4vw;
    }

    .textosobre{
        font-size:3vw;
    }
    /* FIM SOBRE */
    /* EQUIPE */
    #equipe{
        flex-direction: column;
        gap:5vw;
        align-items:center;
    }

    #pessoaequipe{
        width:50vw;
        padding:6vw;
    }

    .imgequipe{
        width:20vw;
    }

    .nomeequipe{
        font-size:4vw;
    }

    .textoequipe{
        font-size:3vw;
    }
    /* FIM EQUIPE */
    /* CONTATO */
    #telalogin{
        width:55vw;
        height:70vw;
        padding:4vw 2vw 4vw 2vw;
        margin-top:4vw;
    }

    #telalogin img{
        width:14vw;
        margin-top:2vw;
    }

    #telalogin h3{
        font-size:3vw;
    }

    #telalogin button{
        height:5vw;
        margin-top:8vw;
        font-size:2.5vw;
    }

    .inputetexto h4{
        font-size:3vw;
        margin-left:3vw;
    }

    .inputetexto input{
        margin-top:2vw;
        width:50vw;
        height:3vw;
        padding:0.5vw;
        font-size:2.5vw;
    }

    #telacontatos{
        margin-top:7vw;
        padding:2vw;
    }

    #telacontatos h3{
        font-size:3vw;
        margin-top:1vw;
    }

    .contato-icon{
        font-size:6vw;
    }
    /* FIM CONTATO */

    footer{
        font-size:2.4vw;
        padding:1vw;
        margin-bottom:13vw;
    }
}