@media(max-width: 900px){
    /* HEADER */
    #menumobile{
        display:flex;
    }

    .header-left nav{
        display:none;
    }

    .header-inicio{
        position:static;
        background-color:#000;
        height:10vw;
        width:99%;
    }

    #logo{
        scale:1.9;
        margin-left:12vw
    }

    #toggletheme{
        font-size:3vw;
        margin-right:2vw;
    }
    /* FIM HEADER */
    /* INICIO */
    #imagemcapa{
        height:110vw;
        gap:8vw;
        background-position: center;
    }

    #inicio{
        width:90vw;
        margin-top:2vw;
    }

    .fonttitle{
        font-size:4.5vw;
        text-shadow: 2px 2px #063db4;
    }

    #botaoprincipal{
        font-size:3.4vw;
        height:8vw;
        width:50vw;
        margin-top:8vw;
    }

    #botoespassarimg{
        display:flex;
        gap:5vw;
    }
    
    .passarimg{
        width:9vw;
        height:3vw;
    }

    .passarimg:hover{
        scale:120%;
    }
    /* FIM INICIO */
    /* PACOTES AVENTURA */
    h2{
        font-size:3.5vw;
    }

    .conjuntopacotes{
        height:40vw;
    }

    .nomepacotes{
        font-size:0vw;
    }

    .imagempacotes{
        height:40vw;
    }

    .conjuntopacotes > a:hover .nomepacotes{
        font-size:3vw;
    }
    /* FIM PACOTES AVENTURA */
    /* SOBRE */
    .assuntosobre{
        flex-direction:column;
        padding:4vw;
        margin-top:5vw;
    }

    .imgsobre{
        width:60vw;
    }

    .tituloetexto{
        width:70vw;
    }

    .titulosobre{
        font-size:4vw;
    }

    .textosobre{
        font-size:3vw;
    }
    /* FIM SOBRE */
    /* EQUIPE */
    #equipe{
        flex-direction: column;
        gap:5vw;
        align-items:center;
    }

    .pessoaequipe{
        width:50vw;
        padding:6vw;
    }

    .imgequipe{
        width:20vw;
    }

    .nomeequipe{
        font-size:4vw;
    }

    .textoequipe{
        font-size:3vw;
    }
    /* FIM EQUIPE */

    /* ATIVIDADES */

    #atividades{
        height:105vw;
        margin-top:5vw;
        margin-bottom:5vw;
    }

    #ativ_titulo{
        font-size:5vw;
    }

    .ativ_conteudo{
        padding-top:5vw;
    }

    .ativ_cards{
        margin-top:10vw;
        height:55vw;
        box-shadow: 0px 0px 5px 3px #000;
        width:25vw;
        gap:2vw;
    }

    .ativ_iconCards{
        top:-10vw;
        width:15vw;
        height:15vw;
    }
    .ativ_iconCards:hover{
        box-shadow: 0px 0px 5px 1px #ffffff;
    }

    .ativ_iconImg{
        width:8vw;
    }

    .ativ_subTitulo{
        font-size:2.5vw;
        margin:5vw 0 0 0;
    }

    .ativ_text{
        font-size:2.4vw;
    }

    #ativ_setaL, #ativ_setaR{
        font-size:4vw;
    }

    .ativ_conjuntoBtns{
        gap:2vw;
        margin-top:6vw;
    }
    
    .ativ_btn{
        width:3vw;
        height:3vw;
    }
    /* FIM ATIVIDADES */

    /* CONTATO */
    #contato{
        margin-top:5vw;
    }

    #telalogin{
        width:55vw;
        padding:4vw 2vw 4vw 2vw;
        margin-top:4vw;
    }

    .telalogin-mensagem{
        min-height: 3vw;
        max-width: 50.5vw;
        min-width: 50.5vw;
        font-size:2.5vw;
    }

    #telalogin img{
        width:14vw;
        margin-top:2vw;
    }

    #telalogin h3{
        font-size:3vw;
    }

    #telalogin button{
        height:5vw;
        font-size:2.5vw;
    }

    .inputetexto{
        margin-bottom:4vw;
    }

    .inputetexto label{
        font-size:3vw;
    }

    .inputetexto input{
        margin-top:2vw;
        width:50vw;
        height:3vw;
        padding:0.5vw;
        font-size:2.5vw;
    }

    #telacontatos{
        margin-top:7vw;
        padding:2vw;
    }

    #telacontatos h3{
        font-size:3vw;
        margin-top:1vw;
    }

    .contato-icon{
        font-size:6vw;
    }
    /* FIM CONTATO */

    footer{
        font-size:2.4vw;
        padding:1vw;
        margin-bottom:13vw;
    }

    /* transicao scroll */
    #equipe :nth-child(2){
        transition-delay: 0ms;
    }
    #equipe :nth-child(3){
        transition-delay: 0ms;
    }
    #equipe :nth-child(4){
        transition-delay: 0ms;
    }
    /* fim transicao scroll */
}