body{
    margin:0;
    padding:0;
    background: rgb(110,110,110);
    background: linear-gradient(9deg, rgba(110,110,110,1) 6%, rgba(149,149,149,1) 20%, rgba(217,217,217,1) 60%, rgba(255,255,255,1) 92%);
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    background-color:#000;
    display:flex;
    align-items:center;
    padding:10px;
}

a{
    text-decoration:none;
    color:#fff;
    text-transform:capitalize;
}

nav ul li a:hover{
    color:#3258a8;
}

nav{
    font-size:18px;
    font-family:arial;
    margin-left:35%;
}

ul li{
    list-style:none;
}

nav ul li{
    display:inline;
    margin-right:50px;
}

#icon{
    width:60px;
    height:60px;
}

#logo{
    display:flex;
    align-items:center;
    margin-left:40px;
}

h1{
    font-size:22px;
    font-family:arial black;
    color:#fff;
    margin-left:10px;
}

#imagemcapa{
    background-color:#000;
    width:100%;
    height:500px;
    margin-top:90px;
    background-image:url(../img/capaaventura.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

#inicio{
    position:relative;
    top:40%;
    left:23%;
    width:58%;
}

h2{
    font-size:30px;
    font-family:Candara;
    color:#fff;
    text-transform:uppercase;
}

#botaoprincipal{
    transform:translateX(0px);
    animation:float 7s ease-out infinite;
    margin-top:50px;
    font-size:22px;
    border-radius:2em;
    height:50px;
    width:400px;
    padding:10px;
    font-family:Candara;
    display:block;
    margin-left:auto;
    margin-right:auto;
    color:#fff;
    border:none;
    background: rgb(3,15,56);
    background: linear-gradient(170deg, rgba(3,15,56,1) 14%, rgba(0,29,129,1) 35%, rgba(15,71,163,1) 54%, rgba(18,87,176,1) 67%, rgba(8,118,235,1) 77%, rgba(52,151,254,1) 98%);
}

#botaoprincipal:hover{
    height:60px;
    width:420px;
    transition:0.5s;
}

@keyframes float {
    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-40px);
    }

    100%{
        transform:translateY(0px);
    }
}

@media screen and (max-width: 1900px){
    nav{
        font-size:17px;
        font-family:arial;
        margin-left:35%;
    }

    h1{
        font-size:21px;
        font-family:arial black;
        color:#fff;
        margin-left:10px;
    }
}