::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #0a3694;
}

::-webkit-scrollbar-thumb:hover {
    background: #0a245e;
}

:root, :root[data-theme='light']{
    --primary-bg-color: #ebebeb;
    --secundary-bg-color: #cdd4e4;

    --border-color:#151941;
    --icons-color:#071d52;
    --secundary-icons-color:#214db6;

    --title-color: #063db4;
    --secundary-title-color:#b0c3ff;
    --text-color: #000;
}

:root[data-theme='dark']{
    --primary-bg-color: #05071d;
    --secundary-bg-color: #151941;

    --border-color:#cdd4e4;
    --icons-color:#cad5f0;
    --secundary-icons-color:#6074a3;

    --title-color: #ebebeb;
    --secundary-title-color:#5d6a91;
    --text-color: #fff;
}

*{
    margin:2;
    padding:2;
}

body{
    margin:0;
    padding:0;
    background-color:var(--primary-bg-color);
}    

header{
    position:fixed;
    width:100%;
    height:4vw;
    background-color:rgba(0,0,0,80%);
    display:flex;
    align-items:center;
    padding:0.5vw;
    justify-content:space-between;
    z-index:9999;
}

a{
    text-decoration:none;
    color:#fff;
    text-transform:capitalize;
}

nav ul li a:hover{
    color:#3258a8;
}

nav{
    font-size:1vw;
    font-family:arial;
}

nav ul li{
    list-style:none;
    display:inline;
    margin-right:3vw;
}

#menumobile{
    position:fixed;
    display:none;
    bottom:0;
    background-color:var(--secundary-bg-color);
    width:100%;
    z-index:999;
    justify-content: space-around;
    align-items:center;
    padding:3vw 0vw 2vw 0vw;
    border-top:1px solid var(--border-color);
}

.menumobile-items{
    display:flex;
    flex-direction: column;
    align-items:center;
    cursor:pointer;
}

.menumobile-items:hover .menumobile-icon,
.menumobile-items:hover .menumobile-text{
    color:var(--secundary-icons-color);
}

.menumobile-icon{
    color:var(--icons-color);
    font-size:4vw;
    transition: ease-in-out 0.5s;
}

.menumobile-text{
    color:var(--icons-color);
    font-size:3vw;
    transition: ease-in-out 0.5s;
}

#icon{
    width:3vw;
    height:3vw;
}

#logo{
    display:flex;
    align-items:center;
    margin-left:2vw;
}

.corazul{
    color:#3258a8;
}

#toggletheme{
    color:var(--title-color);
    font-size:1.2vw;
    cursor:pointer;
    transition: ease-in-out 0.5s;
}
#toggletheme:hover{
    color:var(--secundary-title-color);
}

.header-left{
    display:flex;
    align-items:center;
    margin-right:2vw;
}

h1{
    font-size:1.5vw;
    font-family:arial black;
    color:#fff;
    margin-left:1vw;
}

h2{
    font-size:1.6vw;
    text-align:center;
    font-family:arial black;
    text-transform:uppercase;
    background-color: var(--title-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

hr{
    width:95%;
    background-color:#3d3d3d;
    height:3px;
    border-radius:100%;
    border:none;
    opacity:15%;
}

#imagemcapa{
    background-color:#000;
    width:100%;
    height:40vw;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    transition:1s;
}

#botoespassarimg{
    position:absolute;
    top:35vw;
    left:43.5vw;
}

.passarimg{
    width:3vw;
    height:1vw;
    margin-left:1vw;
    border-radius:1em;
    border:1px solid #c7d9ff;
    box-shadow: 4px 0px 18px 4px #3258a8;
    background-color:#3258a8;
    cursor:pointer;
}

.passarimg:hover{
    background-color:#c7d9ff;
    scale:130%;
}

#inicio{
    position:absolute;
    top:18vw;
    left:13vw;
    width:75vw;
}

.fonttitle{
    font-size:1.7vw;
    font-family:arial black;
    color:#fff;
    text-transform:uppercase;
}

#botaoprincipal{
    transform:translateX(0vw);
    animation:movimento 7s ease-out infinite;
    margin-top:4vw;
    font-size:1.2vw;
    border-radius:2em;
    height:3vw;
    width:20vw;
    padding:0.5vw;
    font-family:Candara;
    display:block;
    margin-left:auto;
    margin-right:auto;
    color:#fff;
    border:none;
    box-shadow: 3px 0px 38px 6px #3258a8;
    background: rgb(3,15,56);
    background: linear-gradient(170deg, rgba(3,15,56,1) 14%, rgba(0,29,129,1) 35%, rgba(15,71,163,1) 54%, rgba(18,87,176,1) 67%, rgba(8,118,235,1) 77%, rgba(52,151,254,1) 98%);
    cursor:pointer;
    transition:ease-in-out 0.5s;
}

#botaoprincipal:hover{
    scale:110%;
}

@keyframes movimento {
    0%{
        transform:translateY(0vw);
    }

    50%{
        transform:translateY(-2vw);
    }

    100%{
        transform:translateY(0vw);
    }
}

/*pacotes*/

.conjuntopacotes{
    display:flex;
    height:20vw;
    gap:1rem;
    margin-right:1vw;;
    margin-left:1vw;
}

.conjuntopacotes > div{
    flex:1;
    border-radius:1rem;
    background-position:center;
    background-repeat:no-repeat;
    background-size:auto 100%;
    transition:all .8s cubic-bezier(.25, .4, .45, 1.4);
    cursor:pointer;
}  

.nomepacotes{
    margin-top:8vw;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-family:arial black;
    font-size:1vw;
    background: rgb(3,15,56);
    background: linear-gradient(170deg, rgba(3,15,56,1) 14%, rgba(0,29,129,1) 35%, rgba(15,71,163,1) 54%, rgba(18,87,176,1) 67%, rgba(8,118,235,1) 77%, rgba(52,151,254,1) 98%);
    margin-right:4vw;
    margin-left:4vw;
    opacity:0%;
    border-radius:5px;
    transition:1s cubic-bezier(.25, .4, .45, 1.4);
}

.conjuntopacotes > div:hover{
    flex:5;
} 

.conjuntopacotes > div:hover .nomepacotes{
    flex:5;
    opacity:100%;
}

/*sobre*/

.assuntosobre{
    display:flex;
    align-items:center;
    background-color:var(--secundary-bg-color);
    border-radius:2em;
    box-shadow: 2px 2px 25px 1px #00184d;
    margin:0 5vw 0 5vw;
    justify-content:space-evenly;
    padding:2vw;
    margin-top:2vw;
    transition:ease-in-out 0.5s;
}

.assuntosobre:hover{
    scale:102%;
}

.imgsobre{
    width:30vw;
    border-radius:2em;
}

.tituloetexto{
    display:block;
    width:35vw;
}

.textosobre{
    text-indent:4vw;
    text-align:justify;
    font-size:1.4vw;
    font-family:candara;
    color:var(--text-color);
}

.titulosobre{
    font-size:1.7vw;
    font-family:candara black;
    color:var(--title-color);
    text-align:center;
    text-transform:uppercase;
}

/*Equipe*/

#equipe{
    display:flex;
    justify-content:space-around;
}

#pessoaequipe{
    width:15vw;
    padding:1.5vw;
    margin-top:1vw;
    background: rgb(3,15,56);
    background: linear-gradient(170deg, rgb(0, 29, 122, 1) 5%, rgb(6, 40, 161, 1) 30%, rgb(15, 80, 184, 1) 40%, rgb(20, 101, 207, 1) 70%, rgb(11, 108, 212, 1) 80%, rgba(52,151,254,1) 98%);
    box-shadow:2px 2px 12px 2px #00184d;
    border-radius:1em;
    animation:corborda 5s ease-out infinite;
}

.imgequipe{
    width:8vw;
    border-radius:5em;
    border:2px solid #001f61;
    box-shadow:2px 2px 20px 1px #5087ff;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.nomeequipe{
    color:#fff;
    font-size:1.2vw;
    font-family:arial black;
    text-align:center;
}

.textoequipe{
    font-size:1vw;
    font-family:candara black;
    color:#001238;
    margin-top:2vw;
    margin-left:1.1vw;
}

ul{
    padding-left:0;
}

@keyframes corborda{
    0%{
        border:2px solid #fff;
    }

    50%{
        border:2px solid #002981;
    }

    100%{
        border:2px solid #fff;
    }
}

#contato{
    background-image:url(../img/fundocontato.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    padding:0.5vw;
    margin-top: 1vw;
    box-shadow:2px 2px 6px 8px #154ec9;
}

#contato h2{
    background-color: #ebebeb;
}

#telalogin{
    width:22vw;
    height:30vw;
    display:block;
    margin-left:auto;
    margin-right:auto;
    background-color:#000;
    border-radius:1em;
    padding:1vw;
    animation:aumentando 5s ease-out infinite;
}

@keyframes aumentando{
    0%{
        scale:1;
    }

    50%{
        scale:1.05;
    }

    100%{
        scale:1;
    }
}

#telalogin img{
    width:5vw;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:1vw;
}

#telalogin h3{
    color:#fff;
    text-align:center;
    font-size:1.3vw;
    font-family:verdana;
}

#telalogin button{
    width:100%;
    height:3vw;
    border-radius:3em;
    margin-top:3vw;
    background-color:#0066ff;
    border:none;
    font-size:1vw;
    cursor:pointer;
}

#telalogin button:hover{
    background-color:#0040a0;
}

.inputetexto{
    margin-top:2vw;
}

.inputetexto h4{
    color:#fff;
    font-size:1.3vw;
    font-family:candara;
    margin-bottom:0;
}

.inputetexto input{
    margin-top:0.5vw;
    width:20vw;
    height:1vw;
    border-radius:2em;
    padding:0.5vw;
    font-size:1vw;
}

#telacontatos{
    display:flex;
    justify-content: space-evenly;
    margin-top:3vw;
    background-color:#0f3fa7;
    padding:1.5vw;
    box-shadow:2px 2px 6px 8px #0f3fa7;
}

#telacontatos h3{
    font-size:1.3vw;
    color:#fff;
    font-family:candara;
    margin-bottom:0;
    margin-top:0.5vw;
}

.iconenome{
    text-align:center;
    transition:ease-in-out 0.5s;
}

.iconenome:hover{
    scale:1.1;
}

.contato-icon{
    font-size:4vw;
}

.iconenome:hover .contato-icon{
    color:#0084ff;
}

footer{
    text-align:center;
    font-size:0.8vw;
    font-family:candara;
    color:#ffffff;
    background-color:#103483;
}